In [1]:
import pandas as pd
import numpy as np # 결측값 예측을 위해선 numpy를 불러와야 한다

In [2]:
# m_list = ['양념치킨','후라이드','양반후반']

# menu = pd.Series(m_list)
# m_list

In [3]:
# p_list = ['13000','11000','12000']
# price = pd.Series(p_list)

# price

In [4]:
# pd.DataFrame({
#     '메뉴' : menu,
#     '가격' : price
# })

In [5]:
data = {
    "메뉴":['후라이드', '양념치킨', '간장치킨', '마늘치킨', '파닭', '닭강정', '양반후반'],
    "가격":[12000, 13000, 14000, 14000, 14000, 15000, 13000],
    "호수":['10호', '10호', '9호', '9호', '11호', '12호', '10호'],
    "칼로리":[1000, 1400, 1600, 1800, 1300, 1500, 1300],
}
data = pd.DataFrame(data)
data.to_csv('modudak.csv', index=False) # csv 파일로 생성하기. 인덱스 컬럼 지우기
df = pd.read_csv('modudak.csv') # 변수 불러와서 데이터에 담기
# [[YOUR CODE]]
print(type(df)) # df 타입 확인

<class 'pandas.core.frame.DataFrame'>

In [6]:
df.head(6) #df 샘플 위부터 5개 확인, (n) n개 확인

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호  1000
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500

In [ ]:
df.tail() # df샘플 아래에서 5개

In [ ]:
df.to_csv('test.csv') # 데이터 csv파일로 저장하기

In [ ]:
pd.read_csv('test.csv')

In [ ]:
df['메뉴'] # df.메뉴 도 같은 형태 # 시리즈 선택(메뉴열)

In [ ]:
# 데이터프레임 선택( 메뉴, 가격 )
df[['메뉴','가격']]

In [ ]:
# 행 선택
df['가격'] >= 14000

In [ ]:
# 14000원 보다 큰 가격 데이터 선택
cond = df['가격'] >= 14000 # 행 조건 선택
df[cond] # 출력

In [ ]:
# 조건 2개 이상 일?때(AND)
# 가격 >= 14000
# 호수 == 9호
cond1 = df['가격'] >=14000
cond2 = df['호수'] == '9호'
df[cond1 & cond2]

In [ ]:
# 조건 2개 이상 일?때 (or)
# 가격 >= 14000
# 호수 == 9호
cond1 = df['가격'] >=14000
cond2 = df['호수'] == '9호'
df[cond1 | cond2]

In [ ]:
# isin() 함수 활용
cond = df['호수'].isin(['9호','10호'])
df[cond]

In [ ]:
#index 명 임의 변경
df['index'] = ['a','b','c','d','e','f','g']
df = df.set_index(['index'])
df

In [ ]:
# 인덱싱(행 전체)
# loc 인덱스 명, 컬럼 명
df.loc['a']

In [ ]:
# 슬라이싱 (컬럼 전체)
# 가격
df.loc[:,'가격']

In [ ]:
# 슬라이싱 메뉴와 가격
df.loc['c','메뉴':'가격']

In [ ]:
# 슬라이싱 메뉴와 칼로리(컬럼이 떨어져 있는 경우)
df.loc['c',['메뉴','칼로리']]

In [ ]:
df.loc['b':'c','메뉴':'가격']

In [ ]:
# iloc는 인덱스의 숫자를 활용해서 출력

In [ ]:
df

In [ ]:
# 인덱스 명 변경
df = df.set_index(keys=['메뉴'])
df

In [ ]:
#loc 슬라이싱
# 양념에서 마늘까지 호수에서 칼로리까지
df.loc['양념치킨':'마늘치킨','호수':'칼로리']

In [ ]:
# iloc 슬라이싱
# 위와 같이
df.iloc[1:4,1:]

In [ ]:
df

In [ ]:
# 할인율 0.2 칼럼 추가
df['할인율'] = 0.2
df

In [ ]:
# 할인율 계산한 할인가 컬럼 생성
df['할인가'] = df['가격'] * (1-df['할인율'])
df

In [ ]:
# 결측값 추가, 원산지 컬럼을 생성하고 결측값(NaN) 대입
df['원산지'] = np.nan
df

In [ ]:
# 리스트 형태로 데이터(행) 추가
aiffel = ['아이펠치킨',16000,'11호',1200,0.5,8000,'국내산']
df.loc['new'] = aiffel
df

In [ ]:
# 딕셔너리 형태로 데이터(행) 추가
flip = {'메뉴':'풀잎치킨','가격':10000,'호수':'10호','원산지':'국내산'}
df.loc[10] = flip
df

In [ ]:
# 후라이드 원산지 '국내산' 값 추가(loc)
df.loc[0,'원산지'] = '국내산'
df

In [ ]:
# 파닭과 닭강정의 원산지 '브라질' 값 추가 (iloc)
df.iloc[4,-1] = '브라질'
df.iloc[5,-1] = '브라질'
df

In [ ]:
# replace 활용(양반후반 > 양념반후라이드반)
df = df.replace('양반후반','양념반후라이드반')
df

In [ ]:
# replace 활용 (아이펠 치킨 >[인기]아이펠치킨, 풀잎치킨 > [베스트]풀잎치킨])
# 2개 동시에 바꾸기
df.replace('아이펠치킨','[인기]아이펠치킨').replace('풀잎치킨','[베스트]풀잎치킨')

In [ ]:
# replace, 딕셔너리 활용 (후라이드 > 황금후라이드, 양념치킨 > 모두양념치킨)
d = {'후라이드':'황금후라이드','양념치킨':'모두양념치킨'}

df = df.replace(d)
df

In [ ]:
# 숫자 변경

df = df.replace(10000, 9900)
df

In [ ]:
# new_modudak.csv로 저장
df.to_csv('new_modudak.csv')